<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xpf.background.mapper.addMapper">

    <select id="list" resultType="com.xpf.background.domain.Address">
        select
            id, address, code, info, city
        from
            address
    </select>
</mapper>