<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xpf.background.mapper.init">

    <select id="initProject" resultType="java.lang.String">
        SHOW
            TABLES
            LIKE
                'wx_user'
    </select>
</mapper>